/* Main Page */
.main-container {
  display: flex;
  flex-direction: column;
}

/* Search/Filter Options */
.filter_options {
  display: flex;
  flex-direction: row;
}

.party_filter {
  width: 200px;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.states_filter {
  width: 300px;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

input[type="text"] {
  padding: 8px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.clear_filter {
  padding: 8px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  background: none;
}
