/* Main Page */
.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.main-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/united_states_flag.png");
  background-size: 200%;
  background-position: center;
  filter: opacity(0.2) grayscale(0.25);
}

.organize-list {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 3%;
}

/* Search/Filter Options */
.filter_options {
  display: flex;
  flex-direction: row;
}

.party_filter {
  width: 200px;
  padding: 6px;
  border: none;
  font-size: 17px;
}

.states_filter {
  width: 300px;
  padding: 6px;
  border: none;
  font-size: 17px;
}

input[type="text"] {
  padding: 8px;
  margin-top: 6px;
  border-width: 0.2px;
  border-color: lightgrey;
  border-radius: 5px;
  font-size: 17px;
  height: min-content;
  background-color: white;
  opacity: 1;
}

.clear_filter {
  padding: 8px;
  margin-top: 6px;
  border: none;
  font-size: 17px;
  background: none;
  height: min-content;
  text-align: center;
}

/* Sort */
.sort {
  display: flex;
  flex-direction: row;
  height: min-content;
}

.toggle_sort {
  width: 30px;
  height: auto;
  max-height: min-content;
}

.sort_by {
  width: 150px;
  padding: 6px;
  border: none;
  font-size: 17px;
}
