.card {
  height: max-content;
  width: 275px;
  margin: 7px 7px 7px;
}

center {
  padding: 1.25rem;
  padding-bottom: 0;
}

.headshot {
  height: auto;
  width: auto;
  max-width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  justify-content: center;
  margin: auto;
}

.card-text {
  margin: 2px;
}

.card-text p {
  margin: 1px;
}

.card-text .committees:hover {
  color: #124a8d;
}
