.member_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: grey;
}

.pagination {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.pagination button {
  padding: 10px;
}
