.member_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: grey;
  padding: 20px;
  row-gap: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.pagination button {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
