main.main-container header {
  text-align: center;
}

.main-container {
  margin-block-start: 20px;
  margin: 0 2%;
  margin-top: 1rem;
}

.main-container h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
