main.main-container header {
  text-align: center;
  margin: 2%;
}

.main-container {
  background-color: rgb(240, 240, 240);
}

.main-container h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
}
