main.main-container header {
  background-color: #0a3161;
  text-align: center;
  padding: 1.5%;
}

.main-container {
  background-color: rgb(240, 240, 240);
}

.main-container h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  color: white;
  font-size: 30px;
}
